<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="stylesheet3.css">
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <%- include header.ejs %>
    <div class="hero-section-3">
        <h1>About John Nission</h1>
        <h3>Home/Doctor Profile</h3>
    </div>

    <div class="profile-container">
        <div class="profile-grid">
            <div class="profile">
                <div class="profile-image">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                </div>
                <button>Book an appointment</button>
            </div>
            <div class="profile-features">
                <div class="profile-bio">
                    <div class="profile-name">John Nission</div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorum aliquid dignissimos
                        nulla
                        dolore ad tenetur saepe quaerat neque optio adipisci, quam illo cumque distinctio sunt similique
                        harum, eligendi fuga.
                    </p>
                </div>
                <div class="profile-description">
                    <ul>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-award icon heading-icon"></i>
                                <h3>Specialization</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam corporis doloribus sequi fugit mollitia vel! Fugit accusantium dolore autem, doloremque atque tempora nobis voluptas facere id quidem qui laboriosam!
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-stethoscope heading-icon"></i>
                                <h3>List Of Treatments</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-hospital icon heading-icon"></i>
                                <h3>Work Experience</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-star heading-icon"></i>
                                <h3>Qualification</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-trophy heading-icon"></i>
                                <h3>Awards</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-map-marker-alt heading-icon"></i>
                                <h3>Location</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-rupee-sign heading-icon"></i>
                                <h3>Avg Fees</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class= "help">
        <div class="help-desktop">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you</p>
        </div>
        <button>Submit your enquiry</button>
    </div>

    <%- include header.ejs %>
    <script src="accordian.js"></script>

</body>
</html>